@font-face {
    font-family: 'Effra-Regular';
    src:
        url('../fonts/Effra-Regular.woff2') format('woff2'),
        url('../fonts/Effra-Regular.woff') format('woff'),
        url('../fonts/Effra-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Effra-Italic';
    src:
        url('../fonts/Effra-Italic.woff2') format('woff2'),
        url('../fonts/Effra-Italic.woff') format('woff'),
        url('../fonts/Effra-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Effra';
    src:
        url('../fonts/EffraMedium-Regular.woff2') format('woff2'),
        url('../fonts/EffraMedium-Regular.woff') format('woff'),
        url('../fonts/EffraMedium-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


