body {
    width: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
}

select {
    -ms-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -moz-appearance: none;
    margin: 0;
}

.page-body {
    font-family: "Effra", "Arial", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}

.visually-hidden {
    max-height: 0;
    overflow: auto;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.link {
    text-decoration: none;
    color: rgb(58, 185, 195);
    font-size: 17px;

    &--small {
        display: block;
        font-size: 14px;
        margin-top: 25px;
    }
}

.modal-overlay {
    // display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 102;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}



input[type="number"] {
    -moz-appearance: textfield;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
    color: #000;
    border-radius: 10px;
}

input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:checked+label,
[type="checkbox"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}


[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1);
}

[type="checkbox"]:disabled:checked+label:before,
[type="checkbox"]:disabled:not(:checked)+label:before {
    border-color: #ccc;
    background-color: #eee;
}

[type="checkbox"]:disabled:checked+label:after {
    background: #aaa;
}

table {
    border-collapse: collapse;
}

@media (min-width: 768px) {
    .container {
        padding: 0 80px;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 0 60px;
    }
}
