body {
    width: 100%;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
}

select {
    -ms-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -moz-appearance: none;
    margin: 0;
}

.page-body {
    font-family: "Effra", "Arial", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}

.visually-hidden {
    max-height: 0;
    overflow: auto;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.link {
    text-decoration: none;
    color: rgb(58, 185, 195);
    font-size: 17px;
}

.modal-overlay {
    // display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 102;
}

.hidden {
    display: none;
}

@media (min-width: 768px) {
    .container {
        padding: 0 80px;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 0 60px;
    }
}
