@font-face {
    font-family: 'Effra';
    src: url('Effra-Regular.woff2') format('woff2'),
        url('Effra-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Effra';
    src: url('Effra-Italic.woff2') format('woff2'),
        url('Effra-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Effra';
    src: url('EffraMedium-Regular.woff2') format('woff2'),
        url('EffraMedium-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

