.aside {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--bottom {
        border-bottom: 1px solid rgb(242, 242, 242);
    }
}
// .aside--bottom {
//   border-bottom: 1px solid rgb(242, 242, 242);
// }
.aside__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.aside__item {
    margin-bottom: 10px;
}

.aside__heading {
    font-family: "Effra-Medium";
    font-size: 22px;
}
