.breadcrumbs {
    display: flex;
    flex-wrap: wrap;

    &--big {

        margin-top: 35px;
        margin-bottom: 40px;
    }

    &__link {
        font-size: 14px;
        color: #3AB9C3;
        line-height: 20px;
    }
}
