.burger {
    width: 18px;
    // height: 15px;
    position: relative;
    z-index: 103;

    align-self: flex-end;
}

.burger-item {
    height: 0.1em;
    background: rgb(58, 185, 195);
    margin-bottom: 4px;

    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.open .burger-item:first-child {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    //   margin-top: 14px;
}

.burger-item:last-child {
    margin-bottom: 0;
}

.open .burger-item:last-child {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    //   margin-top: -14px;
}

.open .burger-item--middle {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.open .burger-item--middle::before {
    content: "";
    position: absolute;

    width: 18px;
    height: 0.1em;
    background: rgb(58, 185, 195);
    margin-bottom: 4px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
