.button {
  border: none;
  width: 280px;
  height: 82px;
  border-radius: 50px;
  background-image: linear-gradient(
    0deg,
    rgb(57, 145, 174) 0%,
    rgb(60, 206, 208) 100%
  );
  color: rgb(255, 255, 255);
  border-bottom: solid 3px rgb(28, 127, 160);
}

.button__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button__link {
  font-size: 20px;
  font-family: "Effra", "Arial", sans-serif;
  color: rgb(255, 255, 255);
}

.more-button {
  border: none;
  width: 280px;
  height: 72px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  border: solid 3px rgb(58, 185, 195);
}

.more-button__link {
  font-family: "Effra-Medium";
  font-size: 18px;
  color: rgb(58, 185, 195);
  text-align: center;
}
