.docs {
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(242, 242, 242);
}
.dropdown-list-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    transition: all 0.3s ease-in-out;
}

.dropdown-list__item {
    width: 100%;
}

.dropdown-list__heading {
    background-color: rgb(244, 244, 244);
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;

    transition: all 0.3s ease-in-out;
}

.dropdown-list__heading-thumb {
    width: 11px;
    height: 6px;
    padding-right: 25px;
    background-image: url("../img/select-arrow-black.svg");
    background-repeat: no-repeat;
}

.dropdown-list__heading-thumb--active {
    width: 11px;
    height: 6px;
    padding-right: 25px;
    background-image: url("../img/select-arrow.svg");
    background-repeat: no-repeat;
}

.dropdown-list__heading--active {
    color: rgb(255, 255, 255);
    background-color: rgb(58, 185, 195);
    transition: all 0.3s ease-in-out;
}

.docs__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.docs__text-wide-wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.docs__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
}

.docs__item--wide {
    width: 200px;
}
.docs__item::before {
    content: "";
    position: relative;
    right: 57px;
    top: 35px;
    background-image: url("../img/doc-thumb.png");
    width: 27px;
    height: 28px;
    background-repeat: no-repeat;
}

.docs__item--wide::before {
    right: 120px;
    top: 30px;
}

.docs-item__text {
    font-size: 15px;
    font-family: "Effra", "Arial", sans-serif;
    color: rgb(0, 0, 0);
}

.docs__item-link {
    width: 100px;
    align-self: flex-start;
    color: rgb(0, 0, 0);
}
.docs-item__desc {
    font-size: 13px;
    margin: 5px 0;
}
.docs-item__size {
    font-size: 13px;
    color: rgb(117, 117, 117);
}
.dropdown-list__heading-text {
    margin-left: 20px;
}

@media (min-width: 768px) {
 .dropdown-list-wrapper {
     width: 456px;
 }
}

@media (min-width: 1024px) {
 .dropdown-list-wrapper {
     width: 656px;
 }
}
