.donate__heading {
  font-size: 25px;
  text-align: center;
}

.donate-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donate__desc {
  font-size: 18px;
  text-align: center;
}
.donate-slider__output {
  font-size: 52px;
  color: rgb(58, 185, 195);
}



.donate-form__button-group {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.donate-form__button-group input[type="radio"] {
  display: none;
}

.donate-form__button input[type="radio"] + label {
  width: 130px;
  height: 57px;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.donate-form__button input[type="radio"]:checked + label {
  border: 1px solid rgb(58, 185, 195);
  background-color: rgb(58, 185, 195);
  color: rgb(255, 255, 255);
}
