.extra-info__text {
  font-size: 26px;
  font-family: "Effra", "Arial", sans-serif;
  font-weight: 700;
}

.extra-info__text--small {
  font-size: 16px;
  font-family: "Effra", "Arial", sans-serif;
  color: rgb(117, 117, 117);
}

.extra-info__item-counter {
  font-size: 16px;
  font-family: "Effra", "Arial", sans-serif;
  color: rgb(0, 0, 0);
}
