.extra-info {
  margin-bottom: 50px;
  margin: 0 auto;
}
.extra-info__heading {
  text-align: center;
}

.extra-info__video {
  margin-bottom: 50px;
}

.extra-info__text {
  font-size: 26px;
  font-family: "Effra", "Arial", sans-serif;
  font-weight: 400;
  margin: 0;
}

.extra-info__text--small {
  font-size: 16px;
  font-family: "Effra", "Arial", sans-serif;
  color: rgb(117, 117, 117);

  margin-bottom: 15px;
}

.extra-info__item-counter {
  font-size: 16px;
  font-family: "Effra-Medium";
  color: rgb(0, 0, 0);

  margin-bottom: 5px;
  margin-top: 5px;
}

.extra-info__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.extra-info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extra-info__text-wrapper {
  width: 100px;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.extra-info__text--highlighted {
  display: inline-block;
  position: relative;
  z-index: 100;
  font-family: "Effra-Medium";
  font-weight: 700;
}

.extra-info__text--highlighted::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 7px;
  background-color: rgb(254, 89, 56);
  // background-image: url("../../img/thumb-highlight.svg");
  z-index: -1;
  top: 20px;
}

.about-list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-list__heading {
  font-size: 18px;
  font-weight: 700;
}

.about-list__item {
  width: 75%;
  font-size: 16px;
  margin-bottom: 15px;
  list-style-image: url("../img/blue-square.svg");
  list-style-position: outside;
}
