.fix-donate {
  border-bottom: 1px solid rgb(242, 242, 242);
}
.fix-donate__header {
  font-size: 22px;
  font-weight: 700;
}

.donation-item {
  width: 280px;
  height: 90px;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}

.donation-item__heading {
  font-size: 28px;
  padding-left: 20px;
}

.donation-item__heading--caption {
  font-size: 14px;
}

.donation-item--active {
  border: 1px solid rgb(58, 185, 195);
  background-color: rgb(58, 185, 195);
}

.donation-item__heading--active {
  color: rgb(255, 255, 255);
}

.donation-item__heading--caption {
  font-size: 14px;
}

.donation__caption {
  font-size: 14px;
  color: rgb(143, 143, 143);
}

.donation-form {
  text-align: center;
  background-color: rgb(244, 244, 244);
  padding-top: 30px;
}

.donation-form__input {
  width: 220px;
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  margin-bottom: 20px;

  border: none;
  border-radius: 5px;
}

.donation-form__button {
  margin-bottom: 30px;
}
