.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
   align-items: flex-start;
  padding-top: 25px;
  margin-bottom: 33px;
}

.header-nav__wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
// .header-nav__list {
//   width: 87.5%;
//   margin: 0 auto;
//   padding: 0;
//   text-align: center;
//   position: absolute;
// }

// .header-nav__item {
//   background-color: rgba(124, 124, 124, 0.5);

//   border-bottom: 1px solid rgb(255, 203, 105);
//   list-style: none;
//   padding-top: 10px;
//   padding-bottom: 10px;
// }
