.header__content {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.header-content__title {
  font-size: 27px;
  font-family: "Effra", sans-serif;
  color: rgb(255, 255, 255);
  margin: 0;
  margin-bottom: 43px;
}

.header__button {
  margin-top: 5px;
  margin-bottom: 75px;
}

