.header__content {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.header-content__title {
    font-size: 30px;
    font-family: "Effra", sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-bottom: 43px;
}

.header__button {
    margin-top: 5px;
    margin-bottom: 75px;

    &--medium-mb {
        margin-bottom: 60px;
    }
}

@media (min-width: 1024px) {
    .header-item--laptop {
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .header-content__title {
        text-align: center;
    }
}
