.header-item {
  width: 70%;
}

// .header-item__title::before {
//   display: block;
//   content: "";
//   background-image: url('../../img/hands-thumb.svg');
//   width: 51px;
//   height: 43px;
//   background-repeat: no-repeat;
// }

.header-item__title {
  position: relative;
  display: block;
  font-size: 26px;
  font-family: "Effra", "Arial", sans-serif;
  font-weight: 500;
  color: rgb(255, 203, 105);
  margin: 0;
}

.header-item__caption {
  font-size: 16px;
  font-family: "Effra", "Arial", sans-serif;
  color: rgb(255, 255, 255);
  margin: 0;
}

.header-item__text {
  font-size: 16px;
  font-family: "Effra", "Arial", sans-serif;
  color: rgb(255, 255, 255);
}
