.header-content__title {
  font-size: 27px;
  font-family: "Effra", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.133;
  margin-bottom: 115px;
}

.header__button {
  margin-bottom: 40px;
}
