.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
   align-items: flex-start;
  padding-top: 25px;
  margin-bottom: 33px;
}

.header-nav__wrapper {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  // align-items: flex-start;
}

