.help {
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.help__img {
  width: 29px;
  height: 36px;
  align-self: center;

  margin-bottom: 25px;
}

.help__heading {
  font-size: 26px;
  font-family: "Effra", "Arial", sans-serif;
  text-align: center;
  margin: 0;
}

.help__caption {
  font-size: 18px;
  font-family: "Effra", "Arial", sans-serif;
  text-align: center;
}

// .help__thumb::before {
//   display: block;
//   content: "";
//   position: absolute;
//   background-image: url("../../img/fire-thumb.svg");
//   width: 29px;
//   height: 36px;
//   background-repeat: no-repeat;
//   top: 700px;
//   right: 1100px;
// }

.help__link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  z-index: 100;
}


.help__caption::before {
  content: "";
  position: absolute;
  width: 172px;
  height: 7px;
  background-color: rgb(254, 89, 56);
  // background-image: url("../../img/thumb-highlight.svg");
  top: 815px;
  right: 673px;
  z-index: -1;
}

.help__button {
  margin-bottom: 40px;
}
