.help {
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 42px;
}

.help__heading {
  display: block;
  position: relative;
  font-size: 26px;
  font-family: "Effra", "Arial", sans-serif;
  text-align: center;
  margin: 0;
}

.help__caption {
  font-size: 18px;
  font-family: "Effra", "Arial", sans-serif;
  text-align: center;
}

.help__link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  z-index: 100;
}

.help__link::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 7px;
  background-color: rgb(254, 89, 56);
  // background-image: url("../../img/thumb-highlight.svg");
  z-index: -1;

  top: 20px;
}

.help__button {
  margin-bottom: 40px;
}

.help__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
