.help {
  width: 87.5%;
  margin: 0 auto;
}

.help__heading {
  font-size: 26px;
  font-family: "Effra", "Arial", sans-serif;
  text-align: center;
  margin: 0;
}

.help__caption {
  font-size: 18px;
  font-family: "Effra", "Arial", sans-serif;
  text-align: center;
}

