.img-overlay__heading {
  font-size: 26px;
  font-family: "Effra", "Arial", sans-serif;
  // color: rgb(255, 255, 255);
}

.img-overlay__text {
  font-size: 18px;
  font-family: "Effra", "Arial", sans-serif;
  // color: rgb(255, 255, 255);
}

.img-overlay__counter {
  font-size: 36px;
  font-family: "Effra", "Arial", sans-serif;
  color: rgb(255, 203, 105);
}

.img-overlay__caption {
  font-size: 16px;
  font-family: "Effra", "Arial", sans-serif;
  // color: rgb(255, 255, 255);
}

.img-overlay__sponsors {
  color: rgb(255, 203, 105);
}

.img-overlay__text--highlighted {
    color: rgb(255, 203, 105);
}
