.item-state__text {
  // display: inline-block;
  margin: 0 auto;
  position: relative;
  font-size: 16px;
  font-family: "Effra", "Arial", sans-serif;
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 40px;
  left: 25px;
  padding: 0;

  padding-left: 20px;
}

// .item-state__text::before {
//   content: "";
//   position: absolute;
//   background-image: url("../../img/timer.svg");
//   width: 29px;
//   height: 36px;
//   background-repeat: no-repeat;
//   margin: 0 auto;
//   bottom: -13px;
//   left: -6px;
// }

.item-state__counter {
  font-size: 16px;
  font-family: "Effra", "Arial", sans-serif;
  color: rgb(255, 115, 73);
}
