// .catalog-item {
  // margin-bottom: 30px;
// }
.catalog-item__heading {
  font-size: 22px;
  font-family: "Effra", "Arial", sans-serif;
  margin: 0;
  margin-bottom: 30px;
}

.catalog-item__desc {
  font-size: 16px;
  font-family: "Effra", "Arial", sans-serif;
  margin: 0;
  margin-bottom: 30px;
}

.catalog-item__img {
  background-image: url("../img/img-item0.jpg");
  background-repeat: no-repeat;
}
