.main-item {
  margin-bottom: 50px;
}
.main-item__heading {
  font-size: 22px;
  font-family: "Effra", "Arial", sans-serif;
}

.main-item__desc {
  font-size: 16px;
  font-family: "Effra", "Arial", sans-serif;
}

.main-item__img {
  background-image: url("../img/img-item0.jpg");
  background-repeat: no-repeat;
}
