.nav-list__wrapper  {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-list__link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}


.nav-list__text {
  font-size: 26px;
}

.nav-list__link--active {
  background-color: rgb(58, 185, 195);
  color: rgb(255, 255, 255);
  // border-radius: 50px;
}



