.nav-list__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.nav-list__text {
  font-size: 26px;
  text-align: center;
}
.nav-list__caption {
  font-size: 18px;
}

.nav-list__text--left-align {
  padding: 0;
  margin: 0;
  text-align: left
}

.nav-list__text--caption {
 font-size: 18px;
}

.nav-list__link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-list__button {
  font-size: 15px;
}
.nav-list__button--active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(58, 185, 195);
  padding: 0;

  .nav-list__link {
    color: rgb(255, 255, 255);
  }
}

.nav-list__button--active-emergency {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(254, 122, 69);
  padding: 0;

  .nav-list__link {
    color: rgb(255, 255, 255);
  }
}

@media (min-width: 768px) {
  .nav-list__wrapper {
    padding: 0 100px;
  }
}

@media (min-width: 1024px) {
  .nav-list__wrapper {
    padding: 0 200px;
  }
}
