.page-footer__heading {
    text-align: center;
    font-size: 15px;
    font-family: "Effra", "Arial", sans-serif;
    font-weight: 400;
}

.thanks-footer {
    border-top: 1px solid #F2F2F2;
    padding-top: 25px;
    padding-bottom: 25px;
}
