.post__heading {
  font-size: 26px;
  font-family: "Effra", "Arial", sans-serif;
  font-weight: 400;
}

.post__heading--bold {
  font-weight: 700;
}

.post__excerpt {
  font-size: 16px;
  font-family: "Effra", "Arial", sans-serif;
}
