.post {
  margin-bottom: 40px;
}
.post__wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;

  margin-bottom: 50px;
}

.post__heading {
  font-size: 26px;
  font-family: "Effra", "Arial", sans-serif;
  font-weight: 400;

}

.post__heading--bold {
  font-weight: 700;
}

.post__excerpt {
  font-size: 16px;
  font-family: "Effra", "Arial", sans-serif;
}

.post__text {
  font-size: 16px;
}
