.post {
    margin-bottom: 40px;
    text-align: center;
}
.post__wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    margin-bottom: 50px;
}

.post__heading {
    font-size: 26px;
    font-family: "Effra", "Arial", sans-serif;
    font-weight: 400;
}

.post__heading--bold {
    font-weight: 700;
}

.post__excerpt {
    font-size: 17px;
    font-family: "Effra", "Arial", sans-serif;
}

.post__excerpt--align-left {
    text-align: left;
}

.post__text {
    font-size: 16px;
}

.post__text--align-left {
    text-align: left;
}

.post__img {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .post__text--align-left {
        width: 50%;
        text-align: left;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        /* display: flex; */
        /* justify-content: center; */
    }
}

@media (min-width: 1024px) {
    .post__text--align-left {
        width: 50%;
        text-align: left;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        /* display: flex; */
        /* justify-content: center; */
    }
}
