.progress {
  width: 280px;
  margin: auto 0;
  margin-bottom: 15px;
  background-color: rgb(242, 242, 242);
  border-radius: 15px;
  margin-top: 10px;
}

.progress-bar {
  // overflow: hidden;
  height: 15px;
  background-repeat: repeat-x;
  border-radius: 15px;
  background-image: url("../img/progress-bg.png");
}

.progress-bar--green {
  // overflow: hidden;
  height: 15px;
  background-repeat: repeat-x;
  border-radius: 15px;
  background-image: url("../img/progress-bg-green.png");
}
