.props {
    display: flex;
}
.props__heading {
    font-size: 15px;
    font-family: "Effra-Medium";
    text-transform: uppercase;
    letter-spacing: 2px;

    padding-bottom: 15px;
    border-bottom: 1px solid rgb(242, 242, 242);

    &--bold {
        font-weight: 700;
    }
}

.props__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.props__item {
    margin-bottom: 20px;
}

.props__text {
    padding: 0;

    &--bold {
        font-weight: 700;
    }
}
