.select {
  background-color: rgb(58, 185, 195);
  color: rgb(255, 255, 255);
  width: 280px;
  height: 58px;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  // padding-right: 20px;
  border: none;
  border-radius: 5px;
  // margin-bottom: 15px;
}
