.slider__heading  {
  font-family: "Effra-Medium";
  font-size: 18px;
}

.slider__caption {
  font-family: "Effra";
  font-size: 15px;
  color: rgb(117, 117, 117);
}

.slider__caption {
  font-family: "Effra";
  font-size: 16px;
}
