.subscribe {
  border-bottom: 1px solid rgb(242, 242, 242);
}
.subscribe__heading {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
.subscribe-form {
  text-align: center;
  background-color: rgb(244, 244, 244);
  padding-top: 30px;
  padding-bottom: 30px;
}

.subscribe-form__input {
  width: 220px;
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  margin-bottom: 20px;
  margin-right: 10px;

  border: none;
  border-radius: 5px;
}

.subscribe-form__button {
  font-size: 20px;
}

.subscribe-form__caption {
  font-size: 14px;
  text-align: center;
}
.subscribe__caption {
  margin-top: 30px;
  margin-bottom: 50px;
}
.subscribe__caption-text {
  font-size: 14px;
  color: rgb(143, 143, 143);
  text-align: center;
}
